<h1> {{ redMessage }} </h1>
<app-templates-styles>
  <div >
    <h2>This message is displayed using <h1 class="inline-block">ng-content!</h1></h2>
  </div>
</app-templates-styles>
<hr>
<app-databinding></app-databinding>
<hr>
<app-lifecycle *ngIf="!destroy" [bindable]="bind">
	<p #LocalReferencContentChild>{{message}}</p>
</app-lifecycle>
<button (click)="destroy = true">Destroy</button>
<button (click)="message = 'Content changed!'">Change Conetent</button>
<button (click)="bind = 'bindable from lifecycle component has been changed!'">Change Binding</button>
<hr>